.container {
    display: grid;
    grid-template-columns: 20% auto 33%;
    /* grid-template-rows: 150px 50px  200px;   */
    /* grid-template-rows may be not imp somtimes like this case */

}

.box {
    display: flex;
    font-size: 50px;
    justify-content: center;
    align-items: center;
    background-color: black;
    margin: 5px;
    padding: 5px;
    color: white;
    height: 170px;

}