.container{
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(12,1fr); /* divide into 12fractions */
    grid-template-rows: 40px 200px 40px;
}
.box{
    background-color: black;
    color: white;
    font-size: 30px;
    display: flex;
   align-items: center;
   justify-content: center;
   padding: 4px;
}
/* modifying the menu for responsiveness. */
.header{
    /*
    start the header from 2nd fraction  
    grid-column-start: 2; 
    end the header size on all fractions to the last  
    grid-column-end: -1;
  other method to achive same thing 
 */
 grid-column: 2 /-1;
 /* grid-column: 1/8; means resize header from 1 to 8 fraction. */
}
.menu{
    /* first row line = 40 px 2nd 200px 3rd 40px */
  grid-row: 1 /3;
}
.content{
    grid-column: 2 / -1;
}
.footer{
    grid-column: 1 / -1;
}